<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>happyPlan2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7365EBC1F06F27D00F7AFF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7365ED01F06F27E00F7AFF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7365EDB1F06F27E00F7AFF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
